.navbar {
  text-align: center;
}

.MuiAppBar-colorPrimary {
  /* background-color: rgba(85, 225, 29, 0.636) !important; */
  color: black;
}

/* .MuiAppBar-root {
  background: white;
} */

/* .MuiButton-root {
  margin-right: 5px;
    margin: 5px 5px;
    color: "white";
    display: "block";
    background-color: "black";
} */